*{
    margin:0;
}

header{
    height:120px;
    background-color: #009688;
}

body{
    background-color: #d9dbd3;
}

.wrapper{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:90vh;
    width: 80vw;
    background-color: white;
}

.app-header{
    background-color: #eaeaea;
    height: 70px;
    width:100%;
}

/* left side of app, preview messages, desktop alert and search bar */
.left-side{
    height:100%;
    width: 35%;
    background-color: #fafafa;
}

.left-side .app-header
{
    border-right: 2px solid darkgrey;
}

.search-section
{
    background-color: #fafafa;
    height:40px;
}

.search-bar{
    width: 90%;
    background-color: white;
    color:lightgrey;
}

.search-bar input{
    width:100%;
    border:none;
}

.messages{
    height:calc(100% - 190px);
    overflow-y: scroll;
}

.desktop-alert{
    background-color: #8edafc;
    height: 80px;
}

.desktop-alert h5{
    font-size: 0.9rem;
    margin: 0;
}

.desktop-alert a{
    font-size: 0.7rem;
    color:black;
    filter: opacity(0.6);
}
/* right side of the app, chat with someone */

.right-side{
    height: 100%;
    width: 65%;
    background-size: contain;
    background-image: url(../img/mine.jpg);
}

.openMessage{
    overflow-y: scroll;
    height:calc(100% - 70px);
    display:flex;
    flex-direction: column;
    position:relative;
}

.openMessage p{
    margin:0;
}
/* icon classes */

.app-header .icon img{
    width:50px;
    min-width: 50px;
}

.icon p{
    margin:0;
}

.gray-icon img{
    max-width: 30px;
}

/* preview messages */

.preview{
    width:100%;
    text-align: left;
}

.preview p{
    font-size: 0.8rem;
    color:black;
    filter: opacity(0.5);
}
.icon img{
    width: 60px;
    max-width: 60px;
}

/* messages classes */
.message
{
    width:45%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.sent{
    background-color: white;
    align-self: start;
}

.received{
    background-color: lightgreen;
    align-self: end;
}

.time
{
    font-size: 0.8rem;
    color:black;
    filter: opacity(0.5);
    align-self: end;
}

/* chatbox */

.sendMessage{
    background-color: #f3eeea;
    min-height:70px;
}

.chatBox{
    height:40px;
}

/* message edit box */

.messageMenu{
    width: 60px;
    height: 100px;
    position:absolute;
    top:0;
    left:0;
}